/* google font uses */
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700;800&family=Work+Sans:wght@400;600;700;800&display=swap');
 *{
   font-family: 'Open Sans', sans-serif;
  font-family: 'Work Sans', sans-serif;
 }
 /* header style  */
 header{
  background: rgba(255, 144, 14, 0.10);
 }
 nav{
  display: flex;
  align-items: center;
  justify-content:space-between;
  padding: 50px 240px;
 } 
 nav>ul{
  list-style: none;
 }
 nav a{
  text-decoration: none;
  margin-right: 1rem;
 }
 ul{
  display: flex;
  font-size: 1rem;
  color:#424242;
  
 }
 .nav-title{
  color: #131313;
  font-size: 4rem;
  font-weight:700px ;
 }
 /* baner style */
 .baner-container{
  margin: 0 auto;
  max-width:800px ;
  text-align: center;
  padding-bottom: 20px;
 }
 .baner-heading{
   font-size: 4rem;
   color: #131313;
 }
 .baner-descreption{
  color: #727272;
  font-size: 1rem;
 }
 .btn{
  color: #FFF ; 
  padding:20px 25px ;
  border-radius: 8px;
  background: #FF900E;
  font-size: 20px;
  border: 0;
 }
 .img{
  margin: 0 240px 40px 240px;
 }

 
 /* end of the first section */
 .team{
  margin:90px 300px;
  display:flex;
 }
 .team-img-container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 10px;
 }
 .team-contant{
  padding-left:70px;
  align-items: center;
  padding-top: 180px;
   
 }
 .team-heading .s1{
  color:  #727272;
font-weight: 500;
font-size: 2.8rem; 
 }
 .team-heading .s2{
color: #131313;
font-size:2.8rem ;
font-weight: 700;
 }
 .team-heading .s3{
   color: #FF900E;
font-size: 2.8rem;
font-weight: 700;
 }
 .team-descreption{
  color: #727272;
font-size: 16px;
font-weight: 400;
padding-bottom:20px ;
 }
 /* feature section */
 .feature-head .title{
  color:#131313;
  font-size: 45px;
  font-weight: 700;
  border-left: 5px  solid #FF900E;
  padding-left: 10px;

 }
 .information{
  color:#727272;
  font-size: 16px;
  font-weight: 400;

 }
 .f-heading{
   color: #131313;
   font-size: 20px;
   font-weight: 600;
 }
 .f-discreption{
  color: #727272;
font-size: 16px;
font-weight: 400;
 }
 .feature{
  border-radius: 8px;
   background: #FFF;
box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
   margin-top: 20px;
   padding:30px ;
} 
  .feature-contianer{
    
  }
  .feature-head{
    margin: 100px 240px;
    display: flex;
    gap:100px;        
  }
  .feature-pic .single-pic{
   margin-left:80px;
   height: 100%;
  }
  .years {
color: #FFF;
text-align: center;
border-radius: 8px;
background: #FF900E;
width: 342px;
padding: 40px;
position: relative;
bottom: 100px;
  }
  .years h2{
  font-size: 4rem;
  font-weight: 700;
  margin: 0;  
  }
.years p{
  font-size:25px;
  font-weight: 500;
  margin: 0;
}
  
 /* team section end */
    .fact{
      margin:100px 240px;
    }
    .box-container{
      display: flex;
      justify-content: space-evenly;
    }
    .box{
     border-radius: 8px;
     border: 1px solid #FF900E;
     text-align: center;
     padding:2rem 2rem 2rem 2rem;
    }
    .fact-descreption{
     color:#727272;
     font-size: 1rem;
     font-weight: 400;
     padding-bottom:50px ;
    }
    .fact-titel{
     color:#131313;
   font-size: 2.8rem;
   font-weight: 700;
    }
    /* sponsor style area */
    .sponsor-text{
      text-align: center;
    }
    .sponsor-heading{
     color:#131313;
     font-size: 45px;
     font-weight: 700;
    }
    .sponsor-discreption{
      color:#727272;
      font-size: 16px;
      font-weight: 400;
      margin-bottom: 60px;
    }
    .sponsor-img-container{
      display: flex; 
      justify-content: center;
      justify-content: space-evenly;
    }

 /* make fot mobile phone */
 
@media screen and (max-width:576px) {
  nav{
    flex-direction: column;
    padding:0px;
  }
  nav li,.team-contant{
   padding: 0px;   
  }
  .img{
    width: 100%;
    margin: 0px;
  }
.team-img-container{
  display: grid;
  grid-template-columns: repeat(1,1fr);
  padding-top: 10px;
  margin: 0px;
}
.team{
  margin: 0px auto;
  flex-direction: column-reverse;
} 
.fact-titel .fact-descreption{
  width:max-content;
}
.box-container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 5px;
  justify-items:center;
}
.single-img{
   
}
}
/* tablet and mediam device */
 @media screen and (min-width:576px) and (max-width:960px) {
   .img{
    margin:0px;
    width: 100%;
   }  
 }
 .team-img-containe{
  margin: 0px;
  padding: 0px;
 }
 .team-contant{
  margin: 0px;  
 }
 .team{ 
  padding-top: 0px;
 } 
 @media screen and (min-width:960px) and (max-width:1300px) {
  .baner img{
    margin:0px auto;
    width: 100%;
  }
  .team{
    margin: 0;
  }
 }
 
 